body {
    background-color: black;
}

header {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.logo {
    max-height: 256.5px;
}

h1 {
    color: rgb(255,192,54);
    font-family: 'Alegreya SC', serif;
}

h1:hover {
    font-size: 28px;
}

.nav {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.navbutton {
    margin: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    width: 20%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: rgb(255,192,54);
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

.overlay {
    position: absolute;
    width: 20%;
    height: 600px;
    text-align: center;
    opacity: 0%;
}

.overlay:hover {
    opacity: 100%;
}

@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        margin: 10px;
    }
    .navbutton {
        margin: 0px;
    }
    h1 {
        font-size: 20px;
    }
    .logo {
        max-width: 200px;
    }
    main {
        flex-direction: column;
        margin-left: 250px;
    }
    .banner {
        height: 400px;
    }
}

@media only screen and (max-width: 480px) {
    .nav {
        flex-direction: column;
    }
    .navbutton {
        margin: 5px;
    }
    h1 {
        font-size: 20px;
    }
    .logo {
        max-width: 150px;
    }
    main {
        flex-direction: column;
        margin-left: 250px;
    }
    .banner {
        height: 400px;
    }
}